[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/andrewrk/SDL
[submodule "vendor/openpnp-capture"]
	path = vendor/openpnp-capture
	url = https://github.com/openpnp/openpnp-capture
