[submodule "libs/libcamera-rs"]
	path = libs/libcamera-rs
	url = https://github.com/lit-robotics/libcamera-rs
[submodule "libs/zlibcamera/libcamera-rs"]
	path = libs/zlibcamera/libcamera-rs
	url = https://github.com/lit-robotics/libcamera-rs
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/ryupold/raylib.zig
[submodule "vendor/sod"]
	path = vendor/sod
	url = https://github.com/symisc/sod
